@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: monospace;
}

.contain {
    padding: 25px;
    display: grid;
    grid-template: 50px 300px 200px / 1fr 2fr;
}

section.img {
    background-color: rgba(104, 104, 104, 0.594);
    grid-area: 1 / 1 / -1 / 2;
}

section.programa {
    background-color: burlywood;
    grid-area: 1 / 2 / -1 / -1;
}