@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: monospace;
    padding-top: 50px;
}

.contain {
    display: grid;
    grid-template: 50px 300px 200px / 200px auto;
    width: fit-content;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.283);
    border-radius: 15px;
}

section.img {
    background-color: rgb(243, 243, 243);
    border-radius: 15px 0px 0px 15px;
}

section.programa {
    background-color: rgb(243, 243, 243);
    grid-area: 1 / 2 / -1 / -1;
    padding: 15px;
    border-left: 2px solid rgba(0, 0, 0, 0.295);
    border-radius: 0px 15px 15px 0px;

    display: grid;
    grid-template-rows: auto auto 3fr;
}

section.programa h1 {
    border-bottom: inset;
    border-color: rgba(0, 0, 0, 0.418);
    margin-bottom: 15px;
}

section.programa form {
    align-items: start;
    margin-bottom: 25px;
}