@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    padding-top: 100px;
}

section {
    text-align: center;
}

h1, p, input[type="submit"] {
    padding: 3px;
}