@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contain {
    width: 100vw;
    height: 100vh;

    background-color: azure;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

img {
    max-width: 30%;
    max-height: 30%;
    border-radius: 15px 0px 0px 15px;
}

#pai {
    display: flex;
    
}

#filho {
    margin-left: 5px;
    text-align: center;
}

h1 {
    border-bottom-style: inset;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

h3 {
    padding-top: 20px;
}