@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contain {
    width: 100vw;
    height: 100vh;

    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

img {
    width: 250px;
    height: auto;
    border-radius: 15px 0px 0px 15px;
}

#pai {
    display: flex;
    align-self: flex-start;
    background-color: rgba(246, 249, 248, 0.201);
    border: 1px solid rgba(209, 203, 203, 0.255);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.342);
    border-radius: 10px;
    padding: 5px;
}

#filho {
    margin-left: 5px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

h1 {
    border-bottom-style: inset;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

pre {
    padding-top: 20px;

}

input::-webkit-scrollbar-button {
    display: none;
}