@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contain {
    width: 100vw;
    height: 100vh;

    background-color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

img {
    width: 250px;
    height: auto;
    border-radius: 15px 0px 0px 15px;
}

#pai {
    display: flex;
    align-self: flex-start;
    background-color: rgba(246, 249, 248, 0.201);
    border: 1px solid rgba(209, 203, 203, 0.255);
    box-shadow: 0px 0px 7px 1px rgba(255, 255, 255, 0.342);
    border-radius: 10px;
    padding: 5px;
    max-width: 600px;
    height: auto;
}

#filho {
    margin-left: 5px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    
}

h1 {
    font-size: 1.8em;
    border-bottom-style: inset;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

pre, h3 {
    padding-top: 20px;
    height: 200px;
    

}

h3::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
}

h3::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.574);
    border-radius: 40%;
}

h3::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.695);
}

input[type="submit"] {
    cursor: grab;
    background-color: rgba(127, 255, 212, 0.301);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgba(245, 222, 179, 0.33);
    transition: 300ms;
}

input[type="submit"]:hover {
    background-color: rgba(127, 255, 212, 0.514);
}

input::-webkit-scrollbar-button {
    display: none;
}